# /home/alan/src/wp-argent-video-processor/.gitignore
/dist/
/assets/vendor/hls.min.js
/assets/vendor/hls.LICENSE
/assets/vendor/hls.VERSION
/assets/vendor/hls.SHA256
*.zip
*.tar.gz

# EOF: /home/alan/src/wp-argent-video-processor/.gitignore
